
html,body{margin: 0;
          height: 100%;
          width:100%;
          font:Courier;}
h1{ margin-left: 1%;
   font-size: 10px;}
h2{color:black;}
head{margin: 0;}

h1{text-align: center;}


.cont{display:flex;}
   .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  .carousel-inner img {
      width: 100%;
      margin: auto;
      min-height:200px;
  }
#logo img{height: 5%;
    width: 5%;}
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
