
html,body{margin: 0;
          height: 100%;
          width:100%;
          font:Courier;}
h1{ margin-left: 1%;
   font-size: 10px;}
h2{margin-top:5%;}
head{margin: 0;}
body{background-image: url('http://cdn2.cloudpro.co.uk/sites/cloudprod7/files/Cloud%20question%20mark.jpg');}

.images{display: inline;
              margin-left: 15%;}
.images img{border-style: solid;
                   border-color: black;
                 border-width: 1px;}
.nav{
    color: LightSkyBlue;
     }

.cont{display:flex;}
