h1{
  color: blue;
  text-decoration: underline;
  text-align: center;
}

body{
  background-color: #A7E3EB
}

img{
  width: 300px;
  height: 200px;
}

html{
  font-family: system-ui
}

p{
  border-style: solid;
  border-color: red;
}
